/* ================================================
GLOBAL VARIABLE
================================================ */
:root {
  /* Color */
  --solid-bluish-0: #576cdb; /* Main Primary color */
  --solid-bluish-1: #a8b4f3;
  --solid-bluish-2: #7a8ce7;
  --solid-bluish-3: #3850cd;
  --solid-bluish-4: #1630be;

  --solid-purplish-0: #8153db; /* Main Secondary color (1) */
  --solid-purplish-1: #c0a6f3;
  --solid-purplish-2: #9d77e7;
  --solid-purplish-3: #6833cd;
  --solid-purplish-4: #4c11be;

  --solid-yellowish-0: #ffe84f; /* Main Secondary color (2) */
  --solid-yellowish-1: #fff3a5;
  --solid-yellowish-2: #ffed76;
  --solid-yellowish-3: #ffe42b;
  --solid-yellowish-4: #ffde00;

  --solid-orangish-0: #ffcc4f; /* Main Complement color */
  --solid-orangish-1: #ffe5a5;
  --solid-orangish-2: #ffd776;
  --solid-orangish-3: #ffc22b;
  --solid-orangish-4: #ffb600;

  /* sizing */
  --xs: 0.25em;
  --s: 0.5em;
  --m: 1em;
  --l: 1.5em;
  --xl: 2em;
}
/* ================================================
GLOBAL STYLING
================================================ */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p {
  margin: var(--s) 0;
}

hr {
  margin: var(--s) 0;
}

/* ================= REUSABLE ================= */

.center {
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 1em;
}

.btn-primary {
  background: #576cdb;
}

.btn-secondary {
  background: #ffcc4f;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: whitesmoke;
}

/* ================= LAYOUT ================= */

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 980px;
}

/* ================= NAVBAR ================= */

header {
  position: absolute;
  width: 100%;
  padding: var(--l) 0;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin: 0;
  color: whitesmoke;
}

header ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

header li {
  padding: 0 0.5em;
}

header a {
  text-decoration: none;
  color: whitesmoke;
}

/* ================= HERO ================= */

.bg-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)),
    url('../assets/notebook-1280538.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--m);
}

.hero-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.hero-info-blob .blob {
  width: 100%;
  max-width: 350px;
}

.hero-info-title,
.hero-info-subtitle {
  text-align: center;
}

.hero-info p {
  text-align: justify;
}

.btn-hero {
  margin: var(--l) 0;
}

/* ================= ABOUT ================= */

.about {
  min-height: 100vh;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-avatar {
  padding: var(--m);
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.about-button {
  display: flex;
  justify-content: center;
}

.about-button button {
  margin: var(--s);
}

.about p {
  margin: var(--s) 0;
}

/* ================= EXPERIENCES ================= */

.bg-experiences {
  padding: var(--xl) 0;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(87, 108, 219, 0.4)
  );
}

.experiences {
  min-height: 100vh;
}

.experiences-info {
  display: flex;
  flex-direction: column;
  margin: var(--m) 0;
}

.experiences-main-title,
.experiences-main-year,
.experiences-desc-title,
.experiences-desc-location {
  text-align: center;
}

.experiences-main-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.experiences-desc-title {
  font-weight: bold;
}

/* ================= SKILLS ================= */

.bg-skills {
  padding: var(--xl) 0;
}

.skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-item p {
  flex-basis: 300px;
}

.progress-bar {
  background-color: #ddd;
  height: 1.5em;
  border-radius: 5px;
  width: 100%;
}

/* ================= PROJECTS ================= */

.bg-projects {
  padding: var(--xl) 0;
  background-image: linear-gradient(
    rgba(87, 108, 219, 0.4),
    rgba(87, 108, 219, 0.8)
  );
}

.projects-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects-card-item {
  margin: var(--m);
  background: #ddd;
  border-radius: 5px;
  height: 300px;
  width: 200px;
}

/* ================= CONTACT ================= */

.bg-contact {
  padding: var(--xl) 0;
}

.grid-container {
  display: grid;
  gap: 0.5em;
}

.btn-contact {
  margin: var(--l) 0;
}

/* ================= FOOTER ================= */

.bg-footer {
  padding: var(--xl) 0 var(--s) 0;
  background: #576cdb;
}

.btn-footer {
  margin: var(--m) 0;
}

.footer-link {
  display: flex;
  justify-content: space-around;
}

.footer-link-text {
  display: none;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

.copyright {
  font-size: 0.75rem;
}
